.card_item {
    background-color: black;
    color: white;
    /* font-size: 1em; */
    border-radius: 10px;
    height: 30em;
}

.card_image {
    width: 0 auto;
    height: 15em;
    border: black solid 3px;
    border-radius: 10px;
}

.card_image:hover {
    transform: scale(1.1);
    transition: 1s ease;
}

.card_link {
    cursor: pointer;
}




